/* General section*/

h1, h2, h3, p {
    margin:10px;
}

h3{
    font-size: 20px;
}

h2{
    font-size: 28px;
}


*{
    font-family: Rubik, Georgia, 'Times New Roman', Times, serif;
    color: rgba(56, 56, 56, 0.87);
}


/* HEADER section*/
header{
    height: 64px;
    background-color: rgba(62, 124, 187, 0.87);
    display: flex;
}

header img{
    margin-left: 24px;
}
nav{    
    margin: auto 24px auto auto;    
}

nav a {
    text-decoration: none;
    color: black;
    padding: 8px;
    font-size: 18px;
}

#colmaracademy{
    margin: auto auto auto 5px;
    font-size: 22px;
    font-weight: bold;
}

/* BANNER section*/

#banner{
    display: flex;
    background-color: rgba(128, 128, 128, 0.25); 
}

#banner img{
    width: 60%;
    margin: 32px 24px;
}

#learn{
    flex-direction: column;
    display: flex;
    justify-content: center;
}

#learn a {
    padding: 8px;
    margin: 10px;
    width: 200px;
    background-color: rgb(66, 65, 65);
    color: seashell;
    text-align: center;
}

/*PRESENTATION section*/

#presentation{
    display: flex;
    margin: 32px 24px;
}

#practice{
    width: 60%
}

#practice img{
    width: 100%;
}

#infos{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 16px;
}

.infosclass{
    display: flex;
    width: 100%;
    flex-direction: row;
    border: 1px solid rgba(128, 128, 128, 0.555);
    margin: 1px;
}

.img-cont{
    width: 35%;
    padding: 16px;
}

.img-cont img{
    width: 100%;
    
}

.infotext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    padding: 2px;

}

.infosclass:hover{
    background-color:  rgba(62, 124, 187, 0.87);
}

/* MOSAIQUE section*/

#mosaique{
    text-align: center;
    width: 100%;
    padding: 32px 0;
    background-color: rgba(128, 128, 128, 0.25);
}

#mosaique h2 {
    margin-bottom: 16px;
}

#supercont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.container{
    margin: 16px;
    height: 300px;
    background-color: white;
    width: 250px;
    text-align: left;
}
.container img{
    width: 250px;
}

.container:hover{
    background-color:  rgba(62, 124, 187, 0.87);
}

/*MEDIA section*/

#media{
    text-align: center;
    padding: 32px;
    
}

#video {
    width: 60%;
    margin: 32px 24px 24px 24px;
    text-align: left;
}

video{
    width: 100%;
    
}

#exhibit{
    width: 40%;
    margin-top: 32px;
}

#contmedia{
    display: flex;
}

/*FOOTER section*/
footer{
    height: 50px;
    padding: 16px 24px;
    display: flex;
}

#footlink{
    margin: auto 24px auto auto;
}

footer p{
    margin:  auto auto auto 24px;
}

