
/* HEADER section*/
header{
    height: 64px;
    background-color: slategray;
    
}

h1, h2, h3, p {
    margin:10px;
}

nav{
    float: right;
    margin: auto;
    height: 50%;
}

a nav {
    text-decoration: none;
    color: black;
    padding: 8px;
}

/* BANNER section*/

#banner{
    display: flex;
    background-color: rgba(128, 128, 128, 0.25); 
}

#banner img{
    width: 60%;
    margin: 32px 24px;
}

#learn{
    flex-direction: column;
    display: flex;
    justify-content: center;
}

#learn a {
    padding: 8px;
    margin: 10px;
    width: 200px;
    background-color: rgb(66, 65, 65);
    color: seashell;
    text-align: center;
}

/*PRESENTATION section*/

#presentation{
    display: flex;
    margin: 32px 24px;
}

#practice{
    width: 60%
}

#practice img{
    width: 100%;
}

#infos{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 16px;
}

.infosclass{
    display: flex;
    width: 100%;
    flex-direction: row;
    border: 1px solid rgba(128, 128, 128, 0.555);
    margin: 1px;
}

.img-cont{
    width: 35%;
    padding: 16px;
}

.img-cont img{
    width: 100%;
    
}

.infotext{
   width: 65%;
   padding: 2px;
}

.infosclass:hover{
    background-color:  rgba(128, 128, 128, 0.25);
}

/* MOSAIQUE section*/

#mosaique{
    text-align: center;
    width: 100%;
    padding: 32px 0;
    background-color: rgba(128, 128, 128, 0.25);
}

#supercont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.container{
    margin: 16px;
    height: 300px;
    background-color: white;
    width: 250px;
}
.container img{
    width: 250px;
}