

header{
    height: 64px;
    background-color: slategray;
    
}

nav{
    float: right;
    margin: auto;
    height: 50%;
}

a{
    text-decoration: none;
    color: black;
}

#banner img{
    
}